<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/sign.css">
    <title>Chess by Banner</title>
    <link rel="icon" type="image/x-icon" href="static/images/image17.ico" />
</head>


<body>
    <header>
        <h1>Chess by Banner</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="/" method="post">
            <div class="form_div">
                <label>Email:</label>
                <input class="field_class" name="email" type="text" placeholder="Enter your email" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password" type="password" placeholder="Enter your password">
                <button class="submit_class" type="submit" form="login_form" >Log In</button>

            </div>
            <div class="info_div">
                <a href="/signup"> Sign Up</a>
            </div>
        </form>
    </main>
    <footer>

        <p>Lavi Banner</p>
    </footer>
    
</body>
</html>