<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/sign.css">
    <script type="text/javascript" src="../static/sign.js"></script>
    <title></title>
</head>


<body>
    <header>
        <h1>Chess by Banner</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="/signup" method="post">
            <div class="form_div">
                <label>Email:</label>
                <input class="field_class" name="email" type="text" placeholder="Enter your email" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password" type="password" placeholder="Enter your password">
                <label>Full name:</label>
                <input id="name" class="field_class" name="fullname" type="text" placeholder="Enter your full name">
                <button class="submit_class" type="submit" form="login_form">Sign Up</button>
            </div>
        
        </form>
    </main>
    <footer>

        <p>Lavi Banner</p>
    </footer>
    
</body>
</html> x